version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: monthly
    labels:
      - github-actions
    groups:
      github-actions:
        patterns:
          - "*"
    open-pull-requests-limit: 2
 
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    versioning-strategy: increase
    open-pull-requests-limit: 1

  - package-ecosystem: npm
    directory: "/htmlhint"
    schedule:
      interval: weekly
    versioning-strategy: increase
    open-pull-requests-limit: 1

  - package-ecosystem: npm
    directory: "/htmlhint-server"
    schedule:
      interval: weekly
    versioning-strategy: increase
    open-pull-requests-limit: 1
