.vscode/**
**/.github
**/.npmignore
**/*.travis.yml
**/*.map
**/*.ts
**/*.vsix
**/*.zip
**/AUTHORS.md
**/History.md
**/thirdpartylicenses.txt
**/thirdpartynotices.txt
**/ThirdPartyNoticeText.txt
images/hero.png
images/hover.png
images/status-bar.png
tsconfig.json
typings/**
